body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 50rem;
  padding: 0rem;
}

.embedded-video-16-9 {
  width:  100vw;
  height: 56.25vw; /* 90*9/16 */
  margin-left: 0vw;
  margin-right: 0vw;
  margin-top: 0
}

::-webkit-scrollbar {
    display: none;
}
